

body{
  font-family:'Roboto', sans-serif;
  background: url("https://cdn.sovereignman.com/wp-content/uploads/2017/10/bitcoin.png") repeat-y left;  
}

.bold{
  font-weight: 900;
  font-size: 50px;
}

.medium{
  font-weight: 700;
  font-size: 25px;
}

.mainContainer{
  display: flex;
  /*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 100%;
  height: 900px;
  background: url("../assets/bitcoin.png") repeat-y right;
      
}
.container{
  display: flex;  
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 70%;
  height: 100%;
  
  }
.coinType{
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
  border: 5px solid rgb(165, 120, 24);
  border-radius: 10px;
  width: 600px;
  height: 250px;
  margin: 10px 0;
}
.bitcoin, .ethereum{
  width: 172px;  
  border: 5px solid rgb(165, 120, 24);
  background-color: rgb(240, 233, 220);
  border-radius: 20px;
  font-weight:500;
  padding: 5px;
  color: black;
}

.chooseCoinType{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 600px;
}

.lookup input[type=text] {
  width: 300px;
  padding: 10px;
  font-size: 17px;
  border: 5px solid rgb(165, 120, 24);
  border-radius: 20px;
  float: left;
  background: #f1f1f1;
}

.lookup button {
  /*float: left;*/
  width: 100px;
  padding: 10px;
  font-size: 17px;
  background: rgb(165, 120, 24);
  color: white;
  border: 5px solid;
  cursor: pointer;  
}

.lookup button:hover {
  background: #0b7dda;
}

.lookup ::after {
  content: "";
  clear: both;
  display: table;
}